.heatMap{
    flex: 4;
}

.reactMap{
    height: 650px;
    margin: auto;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px;
    margin-top: 10px;
}
